- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/micropost_form'
    .span8
      %h3 My Feed 
      #feed
        = render 'shared/feed'
- else
  .center.hero-unit
    %h1 Hello
    %h2 This is training demo-app. Please sign-in with email: vilinicz@mail.ru, password: example. Then try to post a message and delete it. Look for other users - you can follow/unfollow them. Also, you can sign-up with your info/avatar.
          
    %h2 Vizit 'About'-page for more info.
    = link_to "Sign up", signup_path, class: "btn btn-large btn-inverse"     



