- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/micropost_form'
    .span8
      %h3 My Feed 
      #feed
        = render 'shared/feed'
- else
  .center.hero-unit
    %h1 Hello
    %h2
      You are on a
      %a{:href => "http://www.rubyonrails.ru/", target:"_blank"} RoR
      based application made by Vincent Ilinicz 
      %br for education and elaboration.
    %h2
      Vizit 'About'-page for more info.
    = link_to "Sign up", signup_path, class: "btn btn-large btn-inverse"     



