- provide(:title, "Edit user")
%h1 Update your profile
.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object
      = render 'fields', f: f
      = f.label :avatar, "New photo?"
      = f.file_field :avatar, class: "btn btn-mini btn-inverse disabled"
      = f.submit "Save!", class: "btn btn-large btn-success pull-right"
    = gravatar_for @user
    %a{:href => "http://gravatar.com/emails", :target => "_blank"} gravatar
