- provide(:title, 'Sign up')
%h1 Sign up
.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object
      = render 'fields', f: f
      = f.label :avatar, "Quadratic Photo (Gravatar will be auto used instead ;)"
      = f.file_field :avatar, class: "btn btn-mini btn-inverse disabled"
      = f.submit "Create!", class: "btn btn-inverse btn-large pull-right"
