- provide(:title, @title)
.row
  %aside.span4
    %section
      %h1
        - if @user.avatar?
          .page_avatar
            = image_tag @user.avatar.url(:medium), class: "gravatar"
        - else
          = gravatar_for @user, size: 150
        = @user.name
      %span
        - if @user == current_user
          = link_to "my profile", current_user
          |
          = link_to "update", edit_user_path(current_user)
        - else
          = link_to "view profile", @user
      %span
        %b Microposts:
        = @user.microposts.count
    %section
      = render 'shared/stats'
      - if @users.any?
        .user_avatars
          - @users.each do |user|
            - if user.avatar?
              = link_to( (image_tag user.avatar.url(:mini), class: "gravatar"), user)
            - else
              = link_to gravatar_for(user, size: 30), user
  .span8
    - if @users.any?
      %h3= @title
    - if @users.any?
      %ul.users
        = render @users
      = will_paginate @users