- provide(:title, @title)
.row
  %aside.span4
    %section
      = gravatar_for @user, size: 150
      %h1= @user.name
      %span
        - if @user == current_user
          = link_to "my profile", current_user
          |
          = link_to "update", edit_user_path(current_user)
        - else
          = link_to "view profile", @user
      %span
        %b Microposts:
        = @user.microposts.count
    %section
      = render 'shared/stats'
      - if @users.any?
        .user_avatars
          - @users.each do |user|
            = link_to gravatar_for(user, size: 30), user
  .span8
    - if @users.any?
      %h3= @title
    - if @users.any?
      %ul.users
        = render @users
      = will_paginate