!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
    :javascript
      $(document).ready(function() {$('#opislink1').click(function() {
      if ( jQuery.browser.msie && parseInt(jQuery.browser.version) == 6) {
      if ($('#opis1').css("display")=="block") {$('#opis1').css("display", "none");
      } else {$('#opis1').css("display", "block");
      }
      } else {$('#opis1').toggle("slow");
      }
      if ($('#opislink1').text()=='подробнее') {$('#opislink1').text('кратко');
      } else {$('#opislink1').text('подробнее');
      }
      });
      });
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
      = yield
      = render 'layouts/footer'
      = debug(params) if  Rails.env.development?
